<div class="tag" data-id="<%=tag.x%>-<%=tag.y%>" style="left: <%=tag.x-50%>px; top: <%=tag.y-50%>px" id="<%= tag.name %>">
    <div class="delete-tag">
        <%= link_to "X", tag_path(tag), remote: true, method: :delete %>
    </div>
    <div class="tag-name">
      <%= tag.name %>
    </div>
</div>
