<div class="tag active" data-id="<%=tag.x%>-<%=tag.y%>" style="left: <%=tag.x-50%>px; top: <%=tag.y-50%>px">
    <div class="delete-tag">
        <%= link_to "X", tag_path(tag), remote: true, method: :delete %>
    </div>
    <%= tag.name %>
</div>
